#books_container {
    width: 100%;
    display: block;
}

.book_card {
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    margin: 40px;
    width: 20%;
    height: 200px;
    text-align: center;
    background-color: burlywood;
    vertical-align: top;
}

#new_book_form {
    display: none;
}

h1 {
    text-align: center;
}
